Reactivities/API/bin/
Reactivities/API/obj/
Reactivities/Domain/obj/
Reactivities/Domain/bin/
Reactivities/Persistence/obj/
Reactivities/Persistence/bin/
Reactivities/Application/obj/
Reactivities/API/obj
Reactivities/Application/obj
Reactivities/Domain/obj
Reactivities/Persistence/obj